/animations/Awesome Animated background/
backend/photos/logo/Ulotka Obsession A6.pdf
backend/photos/logo/Ulotka Obsession A5.pdf
backend/photos/logo/Cennik Obsession A4.pdf
backend/photos/logo/Wizytówka Obsession 2,5x3 cala.pdf
backend/gallery_compressed
backend/photos_compressed
backend/word_photos_compressed
czas.txt
backend/data/cennik.json
backend/data/descriptions.json
backend/data/gallery.json
notatnik