.main-cennik-photo-container {
    width: 100%;
    height: 650px;
    padding: 0px 0px 20px 0px;
    box-sizing: border-box;
}

.main-cennik-photo {
    object-fit: cover;
    object-position: 0% 60%;
    width: 100%;
    height: 100%;
    filter: brightness(80%);
}
/* Zmienic aby tło było na headbarze i zmienić
za pomocą JS zdjęcie i background
 */

.header-cennik {
    background-color: rgba(0,0,0,0.2);
}

html {
}

.right-header-content-colors-switched {
    color: rgba(0,0,0,0.85);
    text-shadow: 1px -1px 5px rgba(117, 117, 117, 0.8);
}

.right-header-content-container-colors-switched {
    border: 3px solid rgba(0,0,0, 0.5);
    box-shadow: 0px 0px 2px rgba(117, 117, 117, 0.8);
}