.containers-box-shadow {
  box-shadow:
            inset 0px 0px 10px 10px rgba(0, 0, 0, 0.4),
            inset 0px 0px 5px 2px rgba(0,0,0,0.4);
}
/*


Tylko z góry
box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);

 Tylko z dołu
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

 Tylko z lewej
box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);

 Tylko z prawej
box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
*/


.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: auto;
    min-height: 100px;
    max-height: 120px;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom-left-radius: 200px 80px;
    border-bottom-right-radius: 200px 80px;
    transform: translateY(0);
    transition: transform 0.7s ease-in-out;
    z-index: 1000;
}
.header-off {
    transform: translateY(-100%);
    transition: transform 0.7s ease-in-out;
}

.left-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin-left: 30%;
}

.logo-image {
    width: 100%;
}

.right-header {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}
.right-header-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;
    border: 3px groove rgba(255,255,255,0.3);
    border-top-left-radius: 60% 60%;
    border-top-right-radius: 5% 5%;
    border-bottom-right-radius: 60% 60%;
    border-bottom-left-radius: 5% 5%;
    padding: 1% 3% 1% 3%;
    cursor: pointer;
    transition:
        background-color 0.4s ease-in-out,
        transform 0.4s ease-in-out;

    will-change: transform;
    text-decoration: none;

}
.right-header-content-container:hover {
    background-color: rgba(255,255,255,0.1);
    transform: scale(1.03);
}

.right-header-content {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'JetBrains Mono', serif;
}
.facebook-pic-fixed-container,
.fac-cont2 {
    position: fixed;
    right: 78px;
    bottom: 0;
    top: 0;
    z-index: -50;
    opacity: 0;
    transition:
        opacity 0.7s ease-in-out;
    width: 30%;
    box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.5);
}

.facebook-pic-fixed-container-run {
    opacity: 1;
}
.fac-cont2 {
    left: 48px;
    right: auto;
}

.facebook-pic-fixed {
    object-fit: cover;
    object-position: bottom left;
    height: 100%;
    width: 100%;
    filter: brightness(0.7);
}

.fac-pic2 {
    object-position: center;
}

.left-bar {
    background-color: #000000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 0px 10px 5px rgba(0, 0, 0, 0.7);
}