body {
    margin: 0;
    margin-top: 150px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../../public/photos/textures/small-blotted-light-gray-wall-pattern.jpg");
        background-repeat: repeat;
        background-size: 500px 500px;
    height: 3000px;
    z-index: -100;
    /*
    seamless texture

     */

}


.main {
    padding: 0px 0px;

}

.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: auto;
    min-height: 100px;
    max-height: 120px;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom-left-radius: 200px 80px;
    border-bottom-right-radius: 200px 80px;
    transform: translateY(0);
    transition: transform 0.7s ease-in-out;
    z-index: 1000;
}
.header-off {
    transform: translateY(-100%);
    transition: transform 0.7s ease-in-out;
}

.left-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin-left: 30%;
}

.logo-image {
    width: 100%;
}

.right-header {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}
.right-header-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;
    border: 3px groove rgba(255,255,255,0.3);
    border-top-left-radius: 60% 60%;
    border-top-right-radius: 5% 5%;
    border-bottom-right-radius: 60% 60%;
    border-bottom-left-radius: 5% 5%;
    padding: 1% 3% 1% 3%;
    cursor: pointer;
    transition:
        background-color 0.4s ease-in-out,
        transform 0.4s ease-in-out;

    will-change: transform;
    text-decoration: none;

}
.right-header-content-container:hover {
    background-color: rgba(255,255,255,0.1);
    transform: scale(1.03);
}

.right-header-content {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'JetBrains Mono', serif;
}
.facebook-pic-fixed-container,
.fac-cont2 {
    position: fixed;
    right: 78px;
    bottom: 0;
    top: 0;
    z-index: -50;
    opacity: 0;
    transition:
        opacity 0.7s ease-in-out;
    width: 30%;
    box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.5);
}

.facebook-pic-fixed-container-run {
    opacity: 1;
}
.fac-cont2 {
    left: 48px;
    right: auto;
}

.facebook-pic-fixed {
    object-fit: cover;
    object-position: bottom left;
    height: 100%;
    width: 100%;
    filter: brightness(0.7);
}

.fac-pic2 {
    object-position: center;
}

.main-content-container {
    padding: 20px 48px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    margin-top: 20px;

}

.left-bar {
    background-color: #000000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 0px 10px 5px rgba(0, 0, 0, 0.7);
}

.main-content {
    border: 0px solid blue;

}


.owner-info-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgba(166, 168, 168, 0.95);
    border-top-right-radius: 70% 85%;
    border-bottom-right-radius: 12% 15%;
    box-shadow:
            inset 0px 0px 10px 10px rgba(0, 0, 0, 0.4),
            inset 0px 0px 5px 2px rgba(0,0,0,0.4),
            0px -5px 10px rgba(0, 0, 0, 1),
            0 5px 2px rgba(0, 0, 0, 0.5);
    transition: height 0.35s ease-in-out;
}

.owner-photo-container {
    padding: 0px 30px 0px 0px;
    background-color: /*(rgba(195, 198, 197)*/ rgb(166, 168, 168);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 100px;
    margin-right: 28%;
    box-shadow:
            inset 0px 0px 10px 10px rgba(0, 0, 0, 0.4),
            inset 0px 0px 5px 2px rgba(0,0,0,0.4);
    overflow: hidden;
    transition:
        border-radius 0.5s ease-in-out;


}

.owner-photo {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 150px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 150px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-bottom: none;
    border-left: none;
    vertical-align: bottom;
    display: block;
    transition:
            border-radius 0.5s ease-in-out,
            transform 0.5s ease-in-out,
            width 0.5s ease-in-out;

}
.owner-photo:hover {
    border-radius: 0;
    transform: scale(1.1);
    width: 110%;
}
.owner-photo-container:has(.owner-photo:hover) {
    border-radius: 0;
}
.owner-quote-container-wrapper {

}

.owner-quote-container {

    background-color: rgb(166, 168, 168);
    background:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url("../../public/photos/saloonPhotos/20251103_083910.jpg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
    margin-left: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 8% 0% 8%;
    border-top-right-radius: 100%;
    border-top-left-radius: 12% 30%;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 12% 15%;
    box-shadow:
            inset 0px 0px 50px 50px rgba(0, 0, 0, 0.1),
            inset 0px 0px 20px 10px rgba(0,0,0,0.3),
            0px -5px 10px rgba(0, 0, 0, 0.7);
    transition:
            border-radius 0.5s ease-in-out,
            padding 0.5s ease-in-out,
            height 0.5s ease-in-out,
            background-size 0.5s ease-in-out;
    overflow: hidden;
}

.owner-quote-container:hover {
    border-radius: 0 15px 15px 0px;
    background-size: 110% auto;
}
.owner-quote-container:hover .owner-quote {
    font-size: 33px;
}
/*
.owner-info-container:has(.owner-quote-container:hover),
.owner-info-container:has(.owner-photo:hover){
    height: 23.8%;
}

 */
.owner-info-container:has(.owner-quote-container:hover) .owner-photo{
    width: 110%;
    transform: scale(1.1);
    border-radius: 0;
}
.owner-info-container:has(.owner-quote-container:hover) .owner-photo-container{
    border-radius: 0;
}
.owner-info-container:has(.owner-photo:hover) .owner-quote-container{
    border-radius: 0 15px 15px 0px;
    background-size: 110% auto;
}
.owner-info-container:has(.owner-photo:hover) .owner-quote-container .owner-quote {
    font-size: 33px;
}
.owner-quote {
    display: inline-block;
    color: white;
    text-shadow:
        -1px -1px 3px rgba(0,0,0,0.8),
         1px -1px 3px rgba(0,0,0,0.8),
        -1px  1px 3px rgba(0,0,0,0.8),
         1px  1px 3px rgba(0,0,0,0.8);
    width: 100%;
    font-size: 30px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;
    transition:
        font-size 0.5s ease-in-out;

}

.owner-quote-span1 {
    display: block;
    margin-left: 20%;
}

.owner-quote-span2 {
    display: block;
    margin-left: 10%;
}

.owner-quote-span3 {
    display: block;
    margin-left: 30%;
}

.unique-info-container {
    background-color: rgba(166, 168, 168, 0.95);
    margin-top: 70px;
    padding-bottom: 50px;
    box-shadow:
            7px -7px 10px rgba(0, 0, 0, 0.8),
            inset 0px 0px 25px 10px rgba(0, 0, 0, 0.4);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;




}
.unique-info-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unique-info-text {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 30px;
    margin: 0;
    margin: 50px 1px;
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    padding-bottom: 5px;
}

.unique-info-tile-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    border: 0px solid red;
    margin: 0px 30px;
    padding: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
    opacity: 0;
    transform: translateY(-50px);
    transition:
        opacity 1.3s ease-in-out,
        transform 1.3s ease-in-out;
}
.unique-info-tile-container-show {
    opacity: 1;
    transform: translateY(0px);
}
.unique-info-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 0px solid green;
    margin: 20px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
    transition:
        background 0.35s ease-in-out,
        padding 0.35s ease-in-out,
        width 0.35s ease-in-out,
        transform 0.35s ease-in-out,
        font-size 0.35s ease-in-out;
    padding: 12% 5% 10% 5%;
    box-sizing: border-box;
}

.unique-info-tile:hover {
    background-color: rgba(0,0,0,0.10);
    cursor: pointer;
    transform: scale(1.05);

}
.unique-info-tile:hover .unique-info-tile-title-container .unique-info-tile-title {
    font-size: 25px;
}

.unique-info-tile-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unique-info-tile-image {
    width: 50px;
    height: 50px;
}
.unique-info-tile-title {
    font-size: 24px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    transition:
        font-size 0.35s ease-in-out;
    text-align: center;
}

.unique-info-tile-description {
    width: 80%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}