body {
    margin: 0;
    margin-top: 150px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../../public/photos/textures/light-gray-texture-pattern.jpg");
        background-repeat: repeat;
        background-size: 200px 200px;
    height: 3000px;
    /*
    seamless texture

     */

}

.main {
    padding: 0px 0px;

}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: auto;
    min-height: 100px;
    max-height: 120px;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom-left-radius: 200px 80px;
    border-bottom-right-radius: 200px 80px;
    transform: translateY(0);
    transition: transform 0.7s ease-in-out;
}
.header-off {
    transform: translateY(-100%);
    transition: transform 0.7s ease-in-out;
}

.left-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;

}

.logo-image {
    width: 43%;
}
.main-content-container {
    padding: 20px 48px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    margin-top: 20px;

}

.left-bar {
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 0px 10px 5px rgba(0, 0, 0, 0.7);
}

.right-bar {
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.main-content {
    border: 0px solid blue;

}


.owner-info-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(166, 168, 168);
    border-top-right-radius: 70% 85%;
    border-bottom-right-radius: 12% 15%;
    box-shadow:
            inset 0px 0px 10px 10px rgba(0, 0, 0, 0.4),
            inset 0px 0px 5px 2px rgba(0,0,0,0.4),
            0px -5px 10px rgba(0, 0, 0, 1),
            0 5px 2px rgba(0, 0, 0, 0.5);
}

.owner-photo-container {
    padding: 0px 30px 0px 0px;
    background-color: /*(rgba(195, 198, 197)*/ rgb(166, 168, 168);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 100px;
    margin-right: 28%;
    box-shadow:
            inset 0px 0px 10px 10px rgba(0, 0, 0, 0.4),
            inset 0px 0px 5px 2px rgba(0,0,0,0.4);


}

.owner-photo {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 150px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 150px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-bottom: none;
    border-left: none;
    vertical-align: bottom;
    display: block;

}

.owner-quote-container {

    background-color: rgb(166, 168, 168);
    background:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url("../../public/photos/saloonPhotos/20251103_083910.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    margin-left: 8%;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8%;
    border-top-right-radius: 100%;
    border-top-left-radius: 12% 30%;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 12% 15%;
    box-shadow:
            inset 0px 0px 50px 50px rgba(0, 0, 0, 0.1),
            inset 0px 0px 20px 10px rgba(0,0,0,0.3),
            0px -5px 10px rgba(0, 0, 0, 0.7);

}

.owner-quote {
    display: inline-block;
    color: white;
    text-shadow:
        -1px -1px 3px rgba(0,0,0,0.8),
         1px -1px 3px rgba(0,0,0,0.8),
        -1px  1px 3px rgba(0,0,0,0.8),
         1px  1px 3px rgba(0,0,0,0.8);
    width: 100%;
    font-size: 30px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;

}

.owner-quote-span1 {
    display: block;
    margin-left: 20%;
}

.owner-quote-span2 {
    display: block;
    margin-left: 10%;
}

.owner-quote-span3 {
    display: block;
    margin-left: 40%;
}

.unique-info-container {
    background-color: rgb(166, 168, 168);
    margin-top: 100px;
    padding-bottom: 50px;
    box-shadow:
            7px -7px 10px rgba(0, 0, 0, 0.8);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;




}
.unique-info-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unique-info-text {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-size: 30px;
    margin: 0;
    margin: 50px 1px;
    display: inline-block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    padding-bottom: 5px;
}

.unique-info-tile-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    border: 0px solid red;
    margin: 0px 30px;
    padding: 20px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
}

.unique-info-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid green;
    margin: 20px;
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
}

