body {
    margin: 0;
    background-image: radial-gradient(
    circle,
    #707070 0%,
    #454545 40%,
    #404040 100%
);
}

.main {
    padding: 0px 0px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: auto;
    min-height: 100px;
    max-height: 105px;
    background-color: rgba(195, 198, 197);
    border-radius: 20px;
    border-bottom-left-radius: 200px 70px;
    border-bottom-right-radius: 200px 70px;

}

.left-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 500px;

}

.logo-image {
    width: 40%;
}
.main-content-container {
    padding: 0px 48px;
    display: grid;
    grid-template-columns: 25px 1fr;
    margin-top: 20px;
}

.left-bar {
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.main-content {
    border: 2px solid blue;

}


.owner-info-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.owner-photo-container {
    padding: 0px 25px 0px 0px;
    background-color: rgba(195, 198, 197);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 100px;

}

.owner-photo {
    object-fit: cover;
    width: 85%;
    border-top-left-radius: 150px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 150px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-bottom: none;
    border-left: none;
    vertical-align: bottom;
    display: block;

}

.owner-quote-container {
    background-color: rgba(195, 198, 197);
    margin-left: 40px;
}

.owner-quote {
    display: inline-block;
    width: 200px;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    font-style: italic;

}