
@keyframes slideInFromBottom {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-in-pt {
    animation: slideInFromBottom 1.1s ease-out forwards;
}

body {
    margin-top: 0 !important;
}

.header {
    z-index: 9999999;
    transition: background-color 2s ease-in-out, transform 0.7s ease-in-out;
}

.left-bar {
    margin-top: 163px;
}

.main-gallery-photo-container {
    width: 100%;
    height: 650px;
    padding: 0 0 20px 0;
    box-sizing: border-box;

}

.main-gallery-photo {
    object-fit: cover;
    object-position: 0% 40%;
    width: 100%;
    height: 100%;
    filter: brightness(80%);

}

.header-gallery {
    background-color: rgba(0,0,0,0.2);
    z-index: 99999999;
    transition: background-color 2s ease-in-out, transform 0.7s ease-in-out;

}

.right-header-content-colors-switched {
    color: #dcdcdc;
    text-shadow: 1px -1px 5px rgba(117, 117, 117, 0.8);
}

.right-header-content-container-colors-switched {
    border: none;
    box-shadow: 0 0 2px rgba(117, 117, 117, 0.8);

}

.main-content-container {
    margin: 70px 0 0 0;
    background: rgba(0,0,0,0.2);
    box-sizing: border-box;
    max-width: 100%;
}

.main-content-container-gallery {
    display: grid;
    grid-template-columns: 30px 1fr;
    box-sizing: border-box;
    max-width: 100%;
    padding-right: 76px;
}


.main-content-aboutme {
    z-index: 1000;
    margin: 64px 0 0 0;
    display: flex;
    flex-direction: column;

}

.main-content-container-aboutme .main-content-info {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none !important;
}

.main-content-container-aboutme .left-bar {
    grid-column: 1;
    grid-row: 2 / span 100;
}

.main-content-info-title-container {
    padding: 24px;
    /*border-bottom: 2px solid #dcdcdc;*/
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.main-content-info-title {
    font-size: 36px;
    color: white;
    margin: 0;
    border-bottom: 2px solid white;
    width: 60%;
    text-align: center;
    padding-bottom: 24px;
}

.map-component {
    margin: 70px 0 0 0;
    width: 100%;
}

.admin-info-footer {
    margin-top: 70px;
}

.treatment-description-1st-div {
    margin-top: -24px;
    padding: 35px 50px;
    display: grid;
    place-items: center;
    grid-template-columns: 1.5fr 1fr;
    position: relative;
    background-color: rgba(0,0,0,0.5);
}
    .treatment-description-1st-text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.7);
        padding: 36px 48px;
        box-shadow: 7px -7px 10px rgba(0, 0, 0, 0.8);
    }
        .treatment-description-1st-text {
            color: white;
            font-size: 20px;
            line-height: 2;
        }

    .treatment-description-1st-photo-container {
        overflow: hidden;
        width: 27%;
        position: absolute;
        right: 6.5%;
        top: 35px;
        bottom: -20%;
        border-radius: 500px 500px 0 0;
        z-index: 999;
        box-shadow: 7px -7px 10px rgba(0, 0, 0, 0.8);
    }
        .treatment-description-1st-photo {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            filter: brightness(0.9) contrast(1.1);


        }

.treatment-description-2nd-div {
    padding: 35px 50px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 2fr;
    position: relative;
    background-color: rgba(0,0,0,0.5);
}
    .treatment-description-2nd-photo-container {
        overflow: hidden;
        width: 40%;
        height: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        bottom: 0;
        transform: translateY(-50%);
        border-radius: 0 500px 500px 0;
        z-index: 999;
        box-shadow: 7px -7px 10px rgba(0, 0, 0, 0.8)
    }
        .treatment-description-2nd-photo {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            filter: brightness(0.9) contrast(1.1);
        }

    .treatment-description-2nd-text-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.7);
        padding: 10% 15%;
        box-shadow: 7px -7px 10px rgba(0, 0, 0, 0.8);
    }
        .treatment-description-2nd-text {
            color: white;
            font-size: 20px;
            line-height: 2;
}

.treatment-pros-cons-div {
    padding: 100px 50px 35px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 0 40px;
    background-color: rgba(0,0,0,0.5);
}

    .treatment-pros-cons-title {
        color: white;
        font-size: 30px;
        text-align: center;
        border-bottom: 2px solid white;
        padding-bottom: 12px;
        margin: 0 0 16px 0;
    }

    .treatment-pros-div,
    .treatment-cons-div {
        background-color: rgba(0,0,0,0.7);
        padding: 200px 150px 100px 200px;
        overflow: hidden;
        box-shadow: 7px -7px 10px rgba(0, 0, 0, 0.8);
    }
    .treatment-pros-div {
        border-radius: 400px 400px 0 0;
    }
    .treatment-cons-div {
        border-radius: 0 0 400px 400px;
    }

        .treatment-pros-text,
        .treatment-cons-text {
            color: white;
            font-size: 22px;
            line-height: 2;
            margin: 0;
            text-align: justify;

        }