
body {
    margin-top: 0 !important;
}

.header {
    z-index: 9999999;
    transition: background-color 2s ease-in-out, transform 0.7s ease-in-out;
}

.left-bar {}

.main-treat-photo-container {
    width: 100%;
    height: 650px;
    padding: 0 0 20px 0;
    box-sizing: border-box;
}

.main-treat-photo {
    object-fit: cover;
    object-position: 0 30%;
    width: 100%;
    height: 100%;
    filter: brightness(80%);
    border-bottom-left-radius: 100% 60%;
}

.header-treat {
    background-color: rgba(0,0,0,0.2);
    z-index: 99999999;
    transition: background-color 2s ease-in-out, transform 0.7s ease-in-out;

}

.right-header-content-colors-switched {
    color: #dcdcdc;
    text-shadow: 1px -1px 5px rgba(117, 117, 117, 0.8);
}

.right-header-content-container-colors-switched {
    border: none;
    box-shadow: 0 0 2px rgba(117, 117, 117, 0.8);

}

.main-content-container {
    margin: 70px 0 0 0;
    background: rgba(0,0,0,0.2);
    box-sizing: border-box;
    max-width: 100%;
}

.main-content-container-treat {
    display: grid;
    grid-template-columns: 30px 1fr;
    box-sizing: border-box;
    max-width: 100%;
    padding-right: 76px;
}


.main-content-treat {
    margin: 64px 0 0 0;
    display: flex;
    flex-direction: column;

}

.main-content-container-treat .main-content-info {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none !important;
}

.main-content-container-treat .left-bar {
    grid-column: 1;
    grid-row: 2 / span 100;
}

.main-content-info-title-container {
    padding: 24px;
    /*border-bottom: 2px solid #dcdcdc;*/
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.main-content-info-title {
    font-size: 36px;
    color: white;
    margin: 0;
    border-bottom: 2px solid white;
    width: 60%;
    text-align: center;
    padding-bottom: 24px;
}

.map-component {
    margin: 70px 0 0 0;
    width: 100%;
}

.admin-info-footer {
    margin-top: 70px;
}

.main-content-treat {
    box-shadow: 7px 0 10px rgba(0, 0, 0, 0.8), inset 0 0 20px 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    background-color: rgba(0,0,0,0.5);
}
.main-treatment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
    .treatment-link {
        text-decoration: none;
    }
    .treatment-item {
        display: grid;
        grid-template-rows: 1fr 0.5fr;
        border-radius: 5%;
        overflow: hidden;
    }
    .treatment-item:hover {
        cursor: pointer;
    }

        .treatment-item-photo-div {
            width: 100%;
            background-color: rgba(255,255,255,0.5);
            height: 250px;
        }

            .treatment-item-photo {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-bottom-left-radius: 100% 60%;
                filter: brightness(0.8) contrast(1.1);
                aspect-ratio: 1 /1;
            }

        .treatment-item-text-div {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../photos/textures/pale-gray-grained-wall-template.jpg");
            background-size: 500px 500px;
            background-repeat: repeat;
            background-position: center;


        }

            .treatment-item-text {
                font-size: 28px;
                color: white;
                text-align: center;
            }


